<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451411718103-68ksd7dol0p2cgaqi2ukpihqu2ctm6n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451411718103-68ksd7dol0p2cgaqi2ukpihqu2ctm6n3</string>
	<key>API_KEY</key>
	<string>AIzaSyB5nusWKuCbGFi7wMBqguW5Iih-V7PhPdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>451411718103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.coronaticker.app</string>
	<key>PROJECT_ID</key>
	<string>coronaticker-7e6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>coronaticker-7e6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451411718103:ios:0a7e1f795a87579675a592</string>
	<key>DATABASE_URL</key>
	<string>https://coronaticker-7e6ce.firebaseio.com</string>
</dict>
</plist>